<%- include('partials/header.ejs') -%>
<!-- Header until body tag -->

    <body>
        <!-- Materialize Navbar -->
        <%- include('partials/navbar.ejs') -%>

                <div class="container">
                <h1>Events Page</h1>
                    <!-- <%- JSON.stringify(events) %> -->
                    

                    <table>
                        <% for(var i=0; i < events.length; i++) { %>
                        <tr>
                            <td><%= events[i].id %></td>
                            <td><%= events[i].poster_email %></td>
                            <td><%= events[i].events_name %></td>
                            <td><%= events[i].date %></td>
                            <td><%= events[i].details %></td>
                        </tr>
                        <% } %>
                    </table>
                    <br>
                    <br>
                    <a href="/newevent">
                        <button>Click here to add an event!</button>
                    </a>
                </div>

        <!-- Sticky Footer -->
        <%- include('partials/footer') -%>

    <!-- DO NOT TOUCH!!! -->
    </body>
</html>