<%- include('partials/header.ejs') -%>
<!-- Header until body tag -->

    <body>
        <!-- Materialize Navbar -->
        <%- include('partials/navbar.ejs') -%>

                <div class="container">
                <h1>Events Page</h1>
                    <!-- <%- JSON.stringify(events) %> -->
                    

                    <table>
                        <thead>
                            <tr>
                        
                                <th>Poster Email</th>
                                <th>Event Name</th>
                                <th>Location</th>
                                <th>Posted By</th>
                                <th>Date</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <% for(var i=0; i < events.length; i++) { %>
                        <tr>
                            
                            <td><%= events[i].poster_email %></td>
                            <td><%= events[i].event_name %></td>
                            <td><%= events[i].location %></td>
                            <td><%= events[i].posted_by %></td>
                            <td><%= events[i].date %></td>
                            <td><%= events[i].details %></td>
                        </tr>
                        <% } %>
                    </table>
                    <br>
                    <br>
                    <a href="/newevent">
                        <button>Click here to add an event!</button>
                    </a>
                    <br>
                    <br>
                </div>

        <!-- Sticky Footer -->
        <%- include('partials/footer') -%>

    <!-- DO NOT TOUCH!!! -->
    </body>
</html>